@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'PlusJakartaSans';
  src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans-1000';
  src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 1000;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Durk-bold-italic-1000';
  src: url('./assets/fonts/DrukTextWide-BoldItalic-Trial.otf') format('opentype');
  font-weight: 1000;
  font-style: normal;
}
@font-face {
  font-family: 'Durk-bold-italic-500';
  src: url('./assets/fonts/Druk-BoldItalic-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Durk-bold-400';
  src: url('./assets/fonts/DrukTextWide-Medium-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PPsans-400';
  src: url('./assets/fonts/ObjectSans-Heavy.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
input[type="date"]::-webkit-clear-button {
  display: none;
}

input[type="date"]::-ms-clear {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left 0.2s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 0.2s linear infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-pulse {
  animation: pulse 2s ease-in-out infinite;
}